.star-container {
    // background-color: rgba(0,0,0,.7);
    width: 1200px;
    height: 700px;
    position: absolute;
    top: 0%;
    left: 20%;
    transform: rotateZ(25deg);
    clip-path: circle(50% at 50% 50%);
    pointer-events: none;
}
.star {
    background: linear-gradient(-45deg, #5f91ff, rgba(0,0,255,0));
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    filter: drop-shadow(0 0 6px #699bff);
    animation: tail 2s ease-in-out infinite,
               falling 2s ease-in-out infinite;
}


.star::before, .star::after {
    background: linear-gradient(45deg, rgba(0,0,255,0), #699bff,#e4e7ee,#699bff, rgba(71, 71, 228, 0));
    content: '';
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    right: 0%;
    border-radius: 100%;
    transform: translateX(50%) rotateZ(65deg);
    animation: shining 2s ease-in-out infinite;
}
.star::after {
    transform: translateX(50%) rotateZ(-25deg);
}
                                                                        // Animations
@keyframes tail {
    0% {
        width: 0px;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0px;
    }
}

@keyframes falling {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(350px);
    }
}

@keyframes shining {
    0% {
        width: 0px;
    }
    50% {
        width: 25px;
    }
    100% {
        width: 0px;
    }
}
.star:nth-child(1) {
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    animation-delay: 600ms;
}
.star:nth-child(1)::before, .star:nth-child(1)::after {
    animation-delay: 600ms;
}
.star:nth-child(2) {
    top: calc(50% - 175px);
    left: calc(50% - 190px);
    animation-delay: 150ms;
}
.star:nth-child(2)::before, .star:nth-child(2)::after {
    animation-delay: 150ms;
}
.star:nth-child(3) {
    top: calc(50% - 25px);
    left: calc(50% - 200px);
    animation-delay: 1600ms;
}
.star:nth-child(3)::before, .star:nth-child(3)::after {
    animation-delay: 1600ms;
}
.star:nth-child(4) {
    top: calc(50% - -100px);
    left: calc(50% - 250px);
    animation-delay: 4700ms;
}
.star:nth-child(4)::before, .star:nth-child(4)::after {
    animation-delay: 4700ms;
}
.star:nth-child(5) {
    top: calc(50% - -175px);
    left: calc(50% - 250px);
    animation-delay: 6100ms;
}
.star:nth-child(5)::before, .star:nth-child(5)::after {
    animation-delay: 6100ms;
}


// Static Star

.star-light:nth-child(1) {
    // background: linear-gradient(45deg, rgba(0,0,255,0), #699bff,#e4e7ee,#699bff, rgba(71, 71, 228, 0));
    height: 2px;
    width: 25px;
    position: absolute;
    top: calc(5%);
    left: 25%;
    border-radius: 100%;
    transform: translateX(-50%) rotateZ(0deg);
    animation: glance 2000ms ease-in-out infinite;
}

.star-light:nth-child(2) {
    height: 2px;
    width: 25px;
    position: absolute;
    top: calc(10%);
    left: 45%;
    border-radius: 100%;
    transform: translateX(-50%) rotateZ(0deg);
    animation: glance 2000ms ease-in-out infinite;
}
.star-light:nth-child(3) {
    height: 2px;
    width: 25px;
    position: absolute;
    top: calc(22%);
    left: 5%;
    border-radius: 100%;
    transform: translateX(-50%) rotateZ(0deg);
    animation: glance 2000ms ease-in-out infinite;
}
.star-light:nth-child(4) {
    height: 2px;
    width: 25px;
    position: absolute;
    top: calc(80%);
    left: 3%;
    border-radius: 100%;
    transform: translateX(-50%) rotateZ(0deg);
    animation: glance 2000ms ease-in-out infinite;
}
.star-light:nth-child(5) {
    height: 2px;
    width: 25px;
    position: absolute;
    top: calc(25%);
    left: 60%;
    border-radius: 100%;
    transform: translateX(-50%) rotateZ(0deg);
    animation: glance 2000ms ease-in-out infinite;
}
.star-light::after {
    background: linear-gradient(45deg, rgba(0,0,255,0), #699bff,#e4e7ee,#699bff, rgba(71, 71, 228, 0));
    content: '';
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    right: 0%;
    border-radius: 100%;
    transform: translateX(0%) rotateZ(90deg);
    animation: glance 2000ms ease-in-out infinite;
}
@keyframes glance {
    0% {
        background: linear-gradient(45deg, rgba(0,0,255,0), #699bff,#e4e7ee,#699bff, rgba(71, 71, 228, 0));
        filter: drop-shadow(0 0 6px #699bff);
        width: 10px;
    }
    30% {
        filter: drop-shadow(0 0 12px #dbe8ff);
        background: linear-gradient(45deg, rgba(208, 208, 255, 0.151), #9dbdff,#ffffff, #9dbdff, rgba(208, 208, 255, 0.151));
        width: 15px;
    }
    100% {
        background: linear-gradient(45deg, rgba(0,0,255,0), #699bff,#e4e7ee,#699bff, rgba(71, 71, 228, 0));
        filter: drop-shadow(0 0 6px #699bff);
        width: 10px;
    }
}