.logo {
    background: linear-gradient(90deg,  #00130a 10% ,#110312 60%, #163144 100%);
    height: 200px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
    overflow: hidden;
    &__container {
        // background-color: blue;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 10% 40% 40% 10%;
    }

    &__image {
        align-self: center;
        justify-self: center;
        grid-row: 2 / 3;
        width: 120px;
    }

    &__name {
        align-self: center;
        justify-self: center;
        grid-row: 3 / 4;
        font-size: 40px;
        font-family: $font1;
        color: white;
    }
}